* {
    font-family: 'Hahmlet', serif;
}

/*header*/
.wrap {
    width: 1500px;
    margin: auto;
}

.header {
    margin-bottom: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top > div {
    margin: auto 20px;
    font-size: 30px;
}

.top > img {
    width: 340px;
    height: 150px;
    display: flex;
    justify-content: left;
    cursor: pointer;
}
.content-container {
  background-color: #efffdf;
}
/*상세페이지*/
.detail_win {
    /*border: black 1px solid;*/
    border-radius: 20px;
    padding: 30px;
}

.title {
    width: 95%;
    height: 600px;
    /*border: black 1px solid;*/
    margin: 30px auto 10px;
    display: flex;
    flex-direction: column
}

.title > img {
    height: 500px;
    #border: 1px solid black;
    margin: auto;
}

.title > p {
    display: block;
    font-size: 40px;
    margin: auto;
}

hr {
    border: 1px solid green;
    width: 95%;
}

.ingredients_box {
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: auto;;
}

.ingredients_box > h3 {
    display: block;
    width: 200px;
    margin: auto;
}

.ingredients_box > .ingredients {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
}

.ingredients_box > .ingredients > li {
    list-style: none;
    padding: 0 20px 10px 20px;
    font-size: 18px;
}

.recipe_step {
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px 10%;
    margin: 20px auto;
}

.recipe_step > li {
    font-size: 18px;
    padding: 5px 30px;
}

/*코멘트 박스*/
.comment_box {
    background-color: #efffdf;
    /*border: black 1px solid;*/
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#input-post {
    width: 80%;
}
#username {
    font-size: 20px;
    margin-right:30px;
}
.comment-contents {
    font-size: 20px;
}
.material-icons {
    font-size: 30px;
}
