<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- jinja이용해서 title가져오기 -->
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Hahmlet:wght@400;700;900&family=Poor+Story&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/detail.css">
    <script>
    	$(document).ready(function () {
                showcomment();
            });

            function inputComment() {
                let comment = $('#comment').val()
                let title_give = $('#title_give').text()

                $.ajax({
                    type: "POST",
                    url: "/comment",
                    data: {
                        comment_give:comment,
                        title_give:title_give
                    },
                    success: function (response) {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })
            }

            function showcomment() {
                let title_give = $('#title_give').text()

                $.ajax({
                    type: "POST",
                    url: "/comment_show",
                    data: {
                        title_give:title_give
                    },
                    success: function (response) {
                        console.log(response)
                        let comments = response['comment']
                        console.log(comments)
                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i]['comment']

                            let temp_html = `<tr>
                                                <td>${comment}</td>
                                            </tr>`
                            $('#comments-box').append(temp_html)
                        }
                    }
                })
            }
    </script>
</head>

<body>
<div class="wrap">
    <div class="header">
        <div class="top">
            <img src="/static/images/logo.png" alt="logo" onclick="window.location.href='/main'">
            <div>{{ user.username }}님 안녕하세요😃</div>
        </div>
    </div>
    <div class="detail_win">
        <div class="title">
            <img src="{{ recipe.image }}">
            <p>{{ recipe.title }}</p>
        </div>
        <hr>
        <div class="recipe">
            <div class="ingredients_box">
                <h3>재료 준비!</h3>
                <ul class="ingredients">
                    {% for item in recipe.ingredient %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <ol class="recipe_step">
                {% for order in recipe.step %}
                <li>{{ order }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {#    ---------------- 댓글----------------- #}
    <div class="comment_box">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="comment" placeholder="comment"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button onclick="inputComment()" class="btn btn-outline-secondary" type="button" id="button-addon2">등록
            </button>
        </div>
        <div id="comments-box">
            <table class="table">
                <tbody id="val">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>