<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>가벼운 식탁</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Hahmlet:wght@400;700;900&family=Poor+Story&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
<div class="wrap">
    <header class="header">
        <div class="top">
            <img src="/static/images/logo.png" alt="logo">
            <p>{{ user.username }}님 안녕하세요😃</p>
        </div>
    </header>
    <div class="banner">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/images/carousel_img1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel_img2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/carousel_img3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <section class="main">
        <nav class="tag">
            <div class="group tag1">
                <button onclick="keyword('소고기')" type="button" class="btn btn-success">소고기</button>
                <button onclick="keyword('돼지고기')" type="button" class="btn btn-success">돼지고기</button>
                <button onclick="keyword('닭고기')" type="button" class="btn btn-success">닭고기</button>
                <button onclick="keyword('육류')" type="button" class="btn btn-success">육류</button>
                <button onclick="keyword('채소류')" type="button" class="btn btn-success">채소류</button>
                <button onclick="keyword('해물류')" type="button" class="btn btn-success">해물류</button>
                <button onclick="keyword('달걀')" type="button" class="btn btn-success">달걀/유제품</button>
                <button onclick="keyword('가공식품')" type="button" class="btn btn-success">가공식품류</button>
            </div>
            <div class="group tag">
                <button onclick="keyword('쌀')" type="button" class="btn btn-success">쌀</button>
                <button onclick="keyword('밀가루')" type="button" class="btn btn-success">밀가루</button>
                <button onclick="keyword('건어물')" type="button" class="btn btn-success">건어물류</button>
                <button onclick="keyword('버섯')" type="button" class="btn btn-success">버섯류</button>
                <button onclick="keyword('과일')" type="button" class="btn btn-success">과일류</button>
                <button onclick="keyword('콩')" type="button" class="btn btn-success">콩/견과류</button>
                <button onclick="keyword('곡류')" type="button" class="btn btn-success">곡류</button>
                <button onclick="keyword('기타')" type="button" class="btn btn-success">기타</button>
            </div>
        </nav>
        <ul id="cards">
            {% for recipe in recipe_list %}
            <li class="card-box">
                <a href="/detail?id={{ recipe._id }}">
                    <div class="card-image">
                        <img src="{{ recipe.image }}" alt="...">
                    </div>
                    <p class="card-txt">{{ recipe.title }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>

<script>
        $(document).ready(function () {
        });

        // 캐러셀 조작
        $('.carousel').carousel({
            interval: 2000,
            wrap: true
        })

        {#//키워드 클릭 시 카드 띄우기#}
        function keyword(data) {
            $('#cards').empty();
            $.ajax({
                type: "GET",
                url: "/main/type",
                data: {"type": data},
                success: function (response) {
                    let keyword = JSON.parse(response['menu_card'])
                    for (let i = 0; i < keyword.length; i++) {
                        let img = keyword[i]['image']
                        let title = keyword[i]['title']
                        let id = keyword[i]['_id']['$oid']
                        let temp_html = `<li class="card-box">
                                            <a href="/detail?id=${id}">
                                                <div class="card-image">
                                                    <img src="${img}" alt="...">
                                                </div>
                                                <p class="card-txt" id="tile_name">${title}</p>
                                            </a>
                                        </li>`
                        $('#cards').append(temp_html)
                    }
                }
            })
        }
    </script>
</body>
</html>